[submodule "columns"]
	path = columns
	url = https://github.com/dialoa/columns
[submodule "statement"]
	path = statement
	url = https://github.com/dialoa/statement
[submodule "recursive-citeproc"]
	path = recursive-citeproc
	url = https://github.com/dialoa/recursive-citeproc
[submodule "first-line-indent"]
	path = first-line-indent
	url = https://github.com/dialoa/first-line-indent
